<buttonPrimary>
    <button style="width: 110px;
        height: 40px;
        background-color: aqua;
        color: black;
        border: none;
        border-radius: 8px;
        margin-top: 10px;"
    class="btn-primary"
    type={props.typebutton}>{props.textbutton}</button>
</buttonPrimary>

